<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bankList</key>
	<array>
		<dict>
			<key>name</key>
			<string>中国银行</string>
			<key>code</key>
			<string>BOC</string>
			<key>scheme</key>
			<string>BOCMBCIWidget</string>
		</dict>
		<dict>
			<key>name</key>
			<string>工商银行</string>
			<key>code</key>
			<string>ICBC</string>
			<key>scheme</key>
			<string>com.icbc.iphoneclient</string>
		</dict>
		<dict>
			<key>name</key>
			<string>农业银行</string>
			<key>code</key>
			<string>ABC</string>
			<key>scheme</key>
			<string>bankabc</string>
		</dict>
		<dict>
			<key>name</key>
			<string>建设银行</string>
			<key>code</key>
			<string>CCB</string>
			<key>scheme</key>
			<string>ccbmobilebank</string>
		</dict>
		<dict>
			<key>name</key>
			<string>交通银行</string>
			<key>code</key>
			<string>BOCOM</string>
			<key>scheme</key>
			<string>wx862767be0919d45a</string>
		</dict>
		<dict>
			<key>name</key>
			<string>招商银行</string>
			<key>code</key>
			<string>CMB</string>
			<key>scheme</key>
			<string>cmbmobilebank</string>
		</dict>
		<dict>
			<key>name</key>
			<string>光大银行</string>
			<key>code</key>
			<string>CEB</string>
			<key>scheme</key>
			<string>wxf505f9da589b9506</string>
		</dict>
		<dict>
			<key>name</key>
			<string>浦发银行</string>
			<key>code</key>
			<string>SPDB</string>
			<key>scheme</key>
			<string>wx1cb534bb13ba3dbd</string>
		</dict>
		<dict>
			<key>name</key>
			<string>平安银行</string>
			<key>code</key>
			<string>PAB</string>
			<key>scheme</key>
			<string>paebqw</string>
		</dict>
		<dict>
			<key>name</key>
			<string>广发银行</string>
			<key>code</key>
			<string>GDB</string>
			<key>scheme</key>
			<string>wb801126555</string>
		</dict>
		<dict>
			<key>name</key>
			<string>兴业银行</string>
			<key>code</key>
			<string>CIB</string>
			<key>scheme</key>
			<string>cibmb</string>
		</dict>
		<dict>
			<key>name</key>
			<string>邮储银行</string>
			<key>code</key>
			<string>PSBC</string>
			<key>scheme</key>
			<string>psbcmbank</string>
		</dict>
		<dict>
			<key>name</key>
			<string>北京银行</string>
			<key>code</key>
			<string>BCCB</string>
			<key>scheme</key>
			<string>wxb57101c34cb7773e</string>
		</dict>
		<dict>
			<key>name</key>
			<string>民生银行</string>
			<key>code</key>
			<string>CMBC</string>
			<key>scheme</key>
			<string>com.cmbc.cn.iphone</string>
		</dict>
		<dict>
			<key>name</key>
			<string>华夏银行</string>
			<key>code</key>
			<string>HXB</string>
			<key>scheme</key>
			<string>com.hx.hxbank</string>
		</dict>
		<dict>
			<key>name</key>
			<string>上海银行</string>
			<key>code</key>
			<string>BOS</string>
			<key>scheme</key>
			<string>bankofshanghai</string>
		</dict>
	</array>
</dict>
</plist>
