<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>利随享336</string>
		<key>status</key>
		<string>未还</string>
		<key>content</key>
		<array>
			<dict>
				<key>name</key>
				<string>金额</string>
				<key>data</key>
				<string>10.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>冻结金额</string>
				<key>data</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>发生时间</string>
				<key>data</key>
				<string>2015-11-28 12:20:17</string>
			</dict>
			<dict>
				<key>name</key>
				<string>备注</string>
				<key>data</key>
				<string>啊就立刻感觉饿了卡尽量客观记录卡金德拉克尽量扩大</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>利随享336</string>
		<key>status</key>
		<string>未还</string>
		<key>content</key>
		<array>
			<dict>
				<key>name</key>
				<string>金额</string>
				<key>data</key>
				<string>10.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>冻结金额</string>
				<key>data</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>发生时间</string>
				<key>data</key>
				<string>2015-11-28 12:20:17</string>
			</dict>
			<dict>
				<key>name</key>
				<string>备注</string>
				<key>data</key>
				<string>啊就立刻感觉饿了卡尽量客观记录卡金德拉克尽量扩大</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>利随享336</string>
		<key>status</key>
		<string>未还</string>
		<key>content</key>
		<array>
			<dict>
				<key>name</key>
				<string>金额</string>
				<key>data</key>
				<string>10.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>冻结金额</string>
				<key>data</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>发生时间</string>
				<key>data</key>
				<string>2015-11-28 12:20:17</string>
			</dict>
			<dict>
				<key>name</key>
				<string>备注</string>
				<key>data</key>
				<string>啊就立刻感觉饿了卡尽量客观记录卡金德拉克尽量扩大</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>利随享336</string>
		<key>status</key>
		<string>未还</string>
		<key>content</key>
		<array>
			<dict>
				<key>name</key>
				<string>金额</string>
				<key>data</key>
				<string>10.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>冻结金额</string>
				<key>data</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>发生时间</string>
				<key>data</key>
				<string>2015-11-28 12:20:17</string>
			</dict>
			<dict>
				<key>name</key>
				<string>备注</string>
				<key>data</key>
				<string>啊就立刻感觉饿了卡尽量客观记录卡金德拉克尽量扩大</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
