<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fundlist</key>
		<array>
			<dict>
				<key>ItemName</key>
				<string>代收本金</string>
				<key>ItemData</key>
				<real>100.29</real>
			</dict>
			<dict>
				<key>ItemName</key>
				<string>代收本金</string>
				<key>ItemData</key>
				<real>100.29</real>
			</dict>
		</array>
		<key>name</key>
		<string>总计资产</string>
		<key>content</key>
		<real>100.29</real>
	</dict>
	<dict>
		<key>fundlist</key>
		<array>
			<dict>
				<key>ItemName</key>
				<string>代收本金</string>
				<key>ItemData</key>
				<real>100.29</real>
			</dict>
			<dict>
				<key>ItemName</key>
				<string>代收本金</string>
				<key>ItemData</key>
				<real>100.29</real>
			</dict>
		</array>
		<key>name</key>
		<string>总计资产</string>
		<key>content</key>
		<real>100.29</real>
	</dict>
	<dict>
		<key>fundlist</key>
		<array>
			<dict>
				<key>ItemName</key>
				<string>代收本金</string>
				<key>ItemData</key>
				<real>100.29</real>
			</dict>
			<dict>
				<key>ItemName</key>
				<string>代收本金</string>
				<key>ItemData</key>
				<real>100.29</real>
			</dict>
		</array>
		<key>name</key>
		<string>总计资产</string>
		<key>content</key>
		<real>100.29</real>
	</dict>
</array>
</plist>
