<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemId</key>
		<integer>0</integer>
		<key>name</key>
		<string>徽商存管账户</string>
		<key>image</key>
		<string>user_icon_safe</string>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>1</integer>
		<key>name</key>
		<string>我的投资</string>
		<key>image</key>
		<string>uesr_icon_investment</string>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>2</integer>
		<key>name</key>
		<string>回款明细</string>
		<key>image</key>
		<string>uesr_icon_detail</string>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>3</integer>
		<key>name</key>
		<string>邀请返利</string>
		<key>image</key>
		<string>uesr_icon_rabate</string>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>12</integer>
		<key>name</key>
		<string>游戏中心</string>
		<key>image</key>
		<string>uesr_icon_game</string>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>5</integer>
		<key>name</key>
		<string>优惠券</string>
		<key>image</key>
		<string>uesr_icon_coupon</string>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>6</integer>
		<key>name</key>
		<string>工分</string>
		<key>image</key>
		<string>uesr_icon_score</string>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>4</integer>
		<key>name</key>
		<string>会员等级</string>
		<key>image</key>
		<string>uesr_icon_class</string>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>8</integer>
		<key>name</key>
		<string>工场码</string>
		<key>image</key>
		<string>uesr_icon_number</string>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>9</integer>
		<key>name</key>
		<string>红包</string>
		<key>image</key>
		<string>uesr_icon_redbag</string>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>7</integer>
		<key>name</key>
		<string>工豆</string>
		<key>image</key>
		<string>uesr_icon_bean</string>
	</dict>
	<dict>
		<key>itemId</key>
		<integer>11</integer>
		<key>name</key>
		<string>更多</string>
		<key>image</key>
		<string>uesr_icon_more</string>
	</dict>
</array>
</plist>
